*{
	box-sizing: border-box;
}
body{
	margin: 0;
	background: #343434;
	font-family: "Poppins", sans-serif;
}
a{
	text-decoration: none;
	transition: 0.3s;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
ul,ol{
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
	
}
.container{
	float: left;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
}

.row{
	max-width: 1160px;
	margin: 0 auto;
}

.table{
	display: table;
	table-layout: fixed;
	width: 100%;
	height: 100%;
    
}
.table-cell{
	display: table-cell;
	vertical-align: middle;
}


/* mobile-menu style start */

.open-menu a img:last-child{
	display: none;
}
.mm-wrapper--opened .open-menu a img:first-child{
	display: none;
}
.mm-wrapper--opened .open-menu a img:last-child{
	display: block;
}
.mm-panel--opened{
	background: #343434;
}
.mm-navbar{
	background: #343434;
	color: #fff;
	font-size: 38px;
	line-height: 40px;
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	border-color: #fff;
}
.mm-listitem{
	font-size: 25px;
	line-height: 27px;
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	border-color: #fff;
}

/* mobile-menu style end */



/* header-section style start */

header{
	background: #daac00;
	padding-top: 32px;
	padding-bottom: 32px;
}
.logo{
	display: table-cell;
	vertical-align: middle;
	width: 212px;
}
nav{
	display:table-cell;
	vertical-align: middle;
	text-align: center;
	padding: 0 10px;
	
}
nav ul{
	list-style: none;
}
nav ul li{
	display: inline-block;
	margin-left: 40px;
}
nav ul li:first-child{
    margin-left: 0;
}

nav ul li a{
	font-weight: 500;
	font-size: 29px;
	line-height: 31px;
	color: #fff;
}
nav ul li a:hover{
	border-bottom: 2px solid #fff;
}

.search input{
	height: 60px;
	width: 100%;
	border:0;
}
input:focus{
	outline: 0;
}
input[type="search"]{
	font-weight: 400;
	font-size: 20px;
	line-height: 22px;
	color: #fff;
	background:#fcc302;
	padding: 0 20px;
}
::placeholder{
	color: #fff;
}
input[type="submit"]{
	text-indent: -999em;
	background-image: url(../image-2/search.png);
	background-repeat: no-repeat;
	background-position:center ;
	background-color: #00bec9;
}
.search{
	display: table-cell;
	vertical-align: middle;
	width: 275px;

}
.search .table-cell:last-child{
	width: 75px;
}

/* header-section style end */


/* banner-section style start */

.banner-section{
	background: #fcc302;
	padding-top: 90px;
	padding-bottom: 90px;
}
.content{
	display: table-cell;
	vertical-align: middle;
	width: 67%;
	padding-left: 10px;
}
.mix{
	max-width: 646px;
}
.image{
      display: table-cell;
      width: 37%;
}
.content h1{
	font-weight: 600;
	font-size:67px ;
	line-height: 69px;
	color: #fff;
}
.content p{
	font-size: 29px;
	line-height: 31px;
	color: #fff;
	margin-top: 50px;
}
.content .btn{
	margin-top: 50px;
}
.content .btn a{
	font-size: 20px;
	line-height: 22px;
	color: #fff;
	background: #00bec9;
	display: inline-block;
	padding: 25px 32px;
	border-radius: 6px;
	border: 3px solid transparent;
}
.content .btn a:hover{
	background: #fcc302;
	border-color: #fff;
}
.content .btn a:last-child{
	margin-left: 30px;
	background: #fcc302;
	border-color: #fff;
}
.content .btn a:hover:last-child{
	background: #00bec9;
	border-color: transparent;

}
/* banner-section style end */


/* third-section style start */

.third-section {
	background: #fff;
	padding-top: 144px;
	padding-bottom: 176px;
}

.conten{
	display: table-cell;
	vertical-align: middle;
	padding-right: 40px;
	width: 57%;
	max-width: 571px;

}
.photo{
	display: table-cell;
	width: 43%;
}

.conten h2{
	font-weight: 600;
	font-size: 50px;
	line-height: 52px;
	color: #313243;
	
}
.conten p{
	font-weight: 400;
	font-size: 29px;
	line-height: 31px;
	color: #313243;
	margin-top: 52px;
}
.conten a{
	font-weight: 600;
    font-size: 25px;
    line-height: 27px;
    color: #fff;
    background: #fcc302;
    display: inline-block;
    margin-top: 52px;
    padding: 25px 30px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.conten a:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background: #00bec9;
    transition: 0.3s;
    overflow: hidden;
}
.conten span{
	position: relative;
	z-index: 1;
}
.conten a:hover:after{
	width: 100%;
} 

.photo{
	position: relative;
	line-height: 1px;
	z-index: 1;
}
 .third-section img {
    width: 100%;
    position: relative;
    z-index: 1;
}
.photo a{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 3;

	
}

.photo:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #daac00;
    opacity: .57;
    z-index: 2;
    
}
.photo:after{
	content: "";
	position: absolute;
	width: 254px;
	height: 206px;
	background: #fcc302;
	left: -40px;
	bottom: -32px;
} 

/* third-section style end */
  


  /*middle-section style start*/

.middle-section{
	
	padding-top: 105px;
	padding-bottom: 102px;
	text-align: center;
	background: #fcc302;
}
 
 .Contact h2{
 	font-weight: 700;
 	font-size: 75PX;
 	line-height: 77px;
 	color: #fff;
 	font-weight: 700;
 }
 .Contact p{
 	font-weight: 400;
 	font-size: 33px;
 	line-height: 35px;
 	color: #fff;
 	margin-top: 51px;
 	max-width: 750px;
 	display: inline-block;
 }
.box-section{
	margin-top: 106px;
	float: left;
	width: 100%;

}
.box{
	flex: 1;
}
.mrg{
	display: flex;
    gap:66px;
}

.two-section h3{
    font-weight: 600;
	font-size: 38px;
	line-height: 40px;
	color: #fff;
	margin-top: 50px;
}
.two-section p{
	font-weight: 400;
	font-size: 25px;
	line-height: 27px;
	color: #fff;
	margin-top: 26px;
}
.images img{
	border: 3px solid #fff;
}


  /*middle-section style end*/

  /*third-section style start*/
.little-section{
	display: table-cell;
	vertical-align: middle;
	padding-left: 60px;
	width: 57%;
	max-width: 571px;

}
.photo{
	display: table-cell;
	width: 43%;
}
.tx{
	text-align: right;
}

.little-section h2{
	font-weight: 600;
	
	font-size: 50px;
	line-height: 52px;
	color: #313243;
	font-weight:600;
}
.little-section p{
	font-weight: 400;

	font-size: 29px;
	line-height: 31px;
	color: #313243;
	margin-top: 52px;
}
.little-section a{

	text-align: center;
    font-size: 25px;
    line-height: 27px;
    color: #fff;
    background: #fcc302;
    display: inline-block;
    margin-top: 52px;
    font-weight: 600;
    padding: 25px 30px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
}

.little-section a:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background: #00bec9;
    transition: 0.3s;
    
}
.little-section span{
	position: relative;
	z-index: 1;
}
.little-section a:hover:after{
	width: 100%;
} 
.photo-two {
	position: relative;
	line-height: 1px;
	line-height: 1px;
	
}

.photo-two a{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 3;
	
}

.photo-two:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: #daac00;
    opacity: .57;
    z-index: 2;
    
}

.photo-two:after{
	content: "";
	position: absolute;
	width: 254px;
	height: 206px;
	background: #fcc302;
	right: -40px;
	bottom: -32px;
} 



  /* third-section style end */




  /* fore-section style start */

.fore-section{
	float: left;
	width: 100%;
	background: #fcc302;
	padding-top: 115px;
	padding-bottom: 111px;
	text-align: center;
}
.mick-section h2{
	font-weight: 700;
	font-size: 75px;
	line-height: 77px;
	color: #fff;
}
.mick-section p{
	font-weight: 400;
	font-size: 33px;
 	line-height: 35px;
 	color: #fff;
 	margin-top: 51px;
 	max-width: 750px;
 	display: inline-block;
}
.span {
	font-size: 42px;
	line-height: 44px;
	color: #fff;
	margin-top: 52px;

}
.span  span:first-child:after {
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    top: 50%;
    height: 4px;
    margin-top: -2px;
    left: 0;
    right: 0;
}
.span span:first-child{
	position: relative;
	padding: 0 15px;
}
.five-section a{
	font-size: 25px;
	line-height: 27px;
	color: #fff;
	background: #00bec9;
	display: inline-block;
	margin-top: 32px;
	padding: 17px 32px;
	border-radius: 32px;
	border: 3px solid transparent;
}

.five-section a:hover{
	background: #fcc302;
	border-color: #fff;
}

  /* fore-section style end */


  /*six-section style start*/

.six-section{
	float: left;
	width: 100%;
	background: #fff;
	padding-top: 115px;
	padding-bottom: 111px;
	text-align: center;
}
.one-section h2{
	font-size: 75px;
	line-height: 77px;
	color: #313243;
}
.one-section p{
	font-size: 33px;
	line-height: 35px;
	margin-top: 51px;
 	max-width: 750px;
 	color: #313243;
 	display: inline-block;
}
.section h3{
	font-size: 29px;
	line-height: 31px;
	color: #313243;
	margin-top: 40px;
}
.section p{
	font-size: 25px;
	line-height: 27px;
	color: #313243;
	margin-top: 20px;
}
.buten{
	margin-top:30px;
}
.buten a{
	padding-left: 15px;
}

  /*six-section style end*/




/* counter-section style start*/

.counter-section{
	background: #fff;
}
.counter-section{
	background: url(../image-2/image19.jpg) no-repeat ;	
	background-size: cover;
	height: 575px;
	position: relative;
}

.counter-section:after{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fcc302;
	opacity: 0.84;
}
.counter-section .row{
	position: relative;
	height: 100%;
	z-index: 1;
}
.d-flex{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	justify-content: space-between;
	height: 100%;
}

.counter-box{
	position: relative;
}
.counter-box:after{
	content: "+";
	color: #fff;
	font-size: 34px;
	line-height: 36px;
	position: absolute;
	width: 22px;
    right:200px;
	bottom: 66px;
}
.counter-box:before{
	content: "%";
	color: #fff;
	font-size: 34px;
	line-height: 36px;
	position: absolute;
	width: 22px;
	right: 52px;
	bottom:70px;
}
.counter-box span{
	display: block;
	font-size: 42px;
	line-height: 44px;
	color: #fff;
	margin-top: 60px;
}
.counter-box h2{
	font-size: 38px;
	line-height: 40px;
	color: #fff;
	margin-top: 27px;
}

  /*six-section style end*/

  /*foter-section style start*/

  .foter-section{
  	background: #fff;
  	padding-top: 142px;
  	padding-bottom: 142px;
  	text-align: center;
  }
  .counter h2{
  	font-size: 75px;
  	line-height: 77px;
  	color: #313243;
  }

  .counter p{
  	font-size: 29px;
  	line-height: 31px;
  	color: #313243;
  	margin-top: 52px;
  	display: inline-block;
  	max-width: 740px;
  }

  .text h3{
  	
  	max-width: 300px;
  	display: inline-block;
  	font-size: 25px;
  	line-height: 27px;
	
 	
  }
  .text span{
  	font-size: 17px;
  	line-height: 19px;
  	color: #9cdee3;
  	display: inline-block;
  	margin-top: 20px;
  }

  .text p{
  	max-width: 320px;
  	font-size: 17px;
  	line-height: 19px;
  	color: #313243;
  	margin-top: 32px;
  	
  }
.text a{
	font-size: 20px;
	line-height: 22px;
	color:#9cdee3;
	display: inline-block;
	margin-top: 32px;
}
.text a:hover{
	color: #313243;
}
.text{
	border: 2px solid #d6d6d6;
	border-top: 0;
	text-align: left;
	margin-top: 32px;
}

.picture{
	line-height: 1px;
}
 /*foter-section style end*/



.last-section{
	background: #343434;
	padding-top: 152px;
	padding-bottom: 192px;
}	

.like h3{
	font-size: 38px;
	line-height: 40px;
	color: #fff;
	padding-bottom: 40px;
}

.like h2{
	font-size: 38px;
	line-height: 40px;
	color: #fff;
}
.like p{
	font-weight: 400;
	font-size: 25px;
	line-height: 27px;
	color: #fff;
	padding-bottom: 56px;
}
.like ul li{
	list-style: none;
}
.like ul li a{
	padding-top: 19px;
	display: inline-block;
	font-size: 25px;
	line-height: 27px;
	color: #fff;
	
}
.last-section .like a:{
	padding-top: 25px;
	display: inline-block;
}
.last-section .buten a{
	display: inline-block;
	padding-top: 40px;
}

 .like input{
	height: 90px;
	width: 100%;
}
.like input[type="search"]{
	background: #daac00;
	border: 0;
	
}
.like input[type="submit"]{
	background-image: url(../image-2/image13.png);
	border: 0;
	
	
} 
.last-section .max-width .table-cell:last-child{
	width: 144px;
}
.last-section .row{
	height: 100%;
}
.max-width{
	height: 90px;
	max-width: 533px;
	width: 100%;
}
.d-flax {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.last-section .like:last-child{
	text-align: right;
}

/* ipad media query start */

@media(max-width: 1078px){
	nav ul li{
		margin-left: 20px;
}
.mrg{
	gap: 30px;
}
.text{
	padding: 20px;
} 
.max-width{
	max-width: 440px;
	float: right;
}
.last-section .max-width .table-cell:last-child{
	max-width: 120px;

}
.Contact h2, .Contact h2,.mick-section h2, .counter h2, .little-section h2, .conten h2, .one-section h2 {
	font-size: 48px;
	line-height: 50px;
}
.content h1{
	font-size: 50px;
	line-height: 52px;
} 
.content p, .Contact p, .mick-section p, .one-section p, .little-section p, .conten p, .little-section p{
	margin-top: 30px;
	font-size: 24px;
	line-height: 26px;
}

.two-section h3{
	font-size: 32px;
	line-height: 34px;
}




}

@media(max-width: 1024px){

nav ul li a{
	font-size: 25px;
	line-height: 27px;
}
.like p {
	padding-top: 10px;
}

.third-section{
	padding-top: 60px;
	padding-bottom: 90px;
}
.logo{
	max-width: 180px;
}
.counter-section {
     height: 440px;
}
.counter p{
	margin-top: 30px;
}
.box-section{
	margin-top: 40px;
}

}


@media(max-width: 979px){

	.banner-section, .middle-section, .fore-section, .six-section, .foter-section, .last-section{
	padding-top: 60px;
	padding-bottom: 60px;
}
.conten a, .little-section a {
    margin-top: 30px;
    padding: 20px 30px;  
}


.last-section .buten a {
    display: inline-block;
    padding-top: 35px;
}
.like ul li a{
	padding-top: 12px;
}


.five-section a{
	margin-top: 15px;
}


.images img{
	border: 5px solid #fff;
}

.span{
	font-size: 35px;
	line-height: 37px;
	margin-top: 28px;
}
.conten a{
	margin-top: 45px;
}
.two-section h3, .section h3{
	margin-top: 25px;
}
.Contact p, .one-section p, .buten{
	margin-top: 15px;
}
.text h3{
	font-size: 23px;
	line-height: 25px;
}
.text span{
	margin-top: 12px;
}
.buten a{
	padding-left: 8px;
}
.text p, .text a{
	margin-top: 15px;
}
nav ul li a{
	font-size: 18px;
	line-height: 20px;
}
.search{
	width: 235px;
}
 .logo{
   max-width: 140px;
 }
 .search inpu{
 	height: 50px;

 }
.like h3{
	padding-bottom: 20px;
}
.counter-box span{
	font-size: 40px;
	line-height: 42px;
margin-top: 40px;
}
.counter-box h2{
	margin-top: 20px;
	font-size: 32px;
	line-height: 34px;
}
.content .btn{
	margin-top: 30px;
}
   
}

/*ipad media query end*/

/*mobile media start*/


@media(max-width: 767px){

.banner-section, .third-section, .middle-section, .fore-section, .six-section, .foter-section{
	padding-top: 40px;
	padding-bottom: 40px;
}
.images img, .pick img, .picture img{
	width: 100%;
}
header{
	padding-top: 20px;
	padding-bottom: 20px;
	position: relative;
}
.open-menu{
	position: absolute;
	top: 20px;
	left: 20px;
}
nav{
    display: none;
}
.logo {
    display: block;
    text-align: center;
    width: 100%;
    max-width: 100%;
}
.search{
	display: block;
	width: 100%;
	margin-top: 5px;
    text-align: center;
}
.content{
	display: block;
	width: 100%;
	text-align: center;
	order: 2;
}
.conten {
	padding-right: 0;
}
.image {
    display: block;
    width: 100%;
    max-width: 350px;
    margin:0 auto;
}
.banner-section, .third-section{
  text-align: center;
  width: 100%;
    }


.photo:after, .photo-two:after {
	display: none;
}
.mrg {
    gap: 0;
    flex-wrap: wrap;
}
.box {
    flex: 100%;
    margin-top: 20px;
}
.conten{
	display: block;
	width: 100%;
	text-align: center;
	order: 2;
	max-width:600px;
}
.content p, .box-section, .conten p, .content .btn, .conten a, .Contact p, .two-section h3, .span, .section h3, .five-section a,
 .tx, .tx p, .little-section a, .mick-section p, .one-section p, .counter p{
	margin-top: 20px;
}

.full {
    display: block;
    width: 100%;
    margin-top: 10px;
}
.text span, .text a{
	display: block;
	margin-top: 20px;
	
}
.text{
	text-align: center;
	margin-top: 10px;
}

.little-section {
    display: block;
    width: 100%;
    max-width: none;
    padding-left: 0;
    text-align: center;  
}
.tx{
	text-align: center;
	width: 100%;
}
.counter-section{
	height: 300px;
}
.d-flex{
	display: block;
	height: 100%;
}
.d-flax {
    display: block;
    width: 100%;
    text-align: center;
}
.last-section .like:last-child{
	
}
.d-flex {
    display: block;
    text-align: center;
}
.counter-section {
    height: auto;
}
.counter-box span {
    font-size: 35px;
    line-height: 37px;
    margin-top: 30px;
}
.counter-section img{
  margin-top: 40px;
}
.last-section .like:last-child {
    text-align: center;
}
.max-width {
    max-width: 558px;
    float: right;
}
 .content .btn a:last-child{
 	margin-top: 20px;
 	margin-left: 0;
 }
 .content{
   padding-bottom: 20px;
}
.text h3 ,.text p{
	max-width: none;
}
}

@media (max-width: 479px){

.content h1 {
    font-size: 45px;
    line-height: 47px;
}
.Contact h2, .Contact h2, .mick-section h2, .counter h2, .little-section h2, .conten h2, .one-section h2 {
    font-size: 38px;
    line-height: 40px;
}
.box{
	padding: 0 0;
}
.Subscribe {
    width: 315px;
}



}



/*mobile media end*/

@media (min-width: 768px){

.mobile-menu{
	display: none;
}
.open-menu{
	display: none;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
header.sticky{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 10px;
	animation: slideDown 0.35s ease-out;
	background: rgba(218, 172, 0, 0.8);
	z-index: 4;
}
}