@font-face {
    font-family: 'RobotoCondensed-Black';
    src: url('../fonts/RobotoCondensed-Black.eot');
    src: url('../fonts/RobotoCondensed-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoCondensed-Black.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Black.woff') format('woff'),
        url('../fonts/RobotoCondensed-Black.ttf') format('truetype'),
        url('../fonts/RobotoCondensed-Black.svg#RobotoCondensed-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;../fonts/
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Medium.eot');
    src: url('../fonts/RobotoCondensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoCondensed-Medium.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Medium.woff') format('woff'),
        url('../fonts/RobotoCondensed-Medium.ttf') format('truetype'),
        url('../fonts/RobotoCondensed-Medium.svg#RobotoCondensed-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Bold.eot');
    src: url('../fonts/RobotoCondensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Bold.woff') format('woff'),
        url('../fonts/RobotoCondensed-Bold.ttf') format('truetype'),
        url('../fonts/RobotoCondensed-Bold.svg#RobotoCondensed-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Regular.eot');
    src: url('../fonts/RobotoCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
        url('../fonts/RobotoCondensed-Regular.ttf') format('truetype'),
        url('../fonts/RobotoCondensed-Regular.svg#RobotoCondensed-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto RobotoCondensed-SemiBold';
    src: url('../fonts/RobotoCondensed-SemiBold.eot');
    src: url('../fonts/RobotoCondensed-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/RobotoCondensed-SemiBold.woff2') format('woff2'),
        url('../fonts/RobotoCondensed-SemiBold.woff') format('woff'),
        url('../fonts/RobotoCondensed-SemiBold.ttf') format('truetype'),
        url('../fonts/RobotoCondensed-SemiBold.svg#RobotoCondensed-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-Light.eot');
    src: url('RobotoCondensed-Light.eot?#iefix') format('embedded-opentype'),
        url('RobotoCondensed-Light.woff2') format('woff2'),
        url('RobotoCondensed-Light.woff') format('woff'),
        url('RobotoCondensed-Light.ttf') format('truetype'),
        url('RobotoCondensed-Light.svg#RobotoCondensed-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Italic.eot');
    src: url('Roboto-Italic.eot?#iefix') format('embedded-opentype'),
        url('Roboto-Italic.woff2') format('woff2'),
        url('Roboto-Italic.woff') format('woff'),
        url('Roboto-Italic.ttf') format('truetype'),
        url('Roboto-Italic.svg#Roboto-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}